*{
     margin: 0;
     padding: 0;
     font-family: Calibri;
     box-sizing: border-box;
}
.navbar{
     background-color: blue;
     height: 5%;
     width: 100%;
     padding: 2%;
}
.navbar ul li{
     display: inline;
     padding: 4%;
     list-style: none;
     justify-content: center;
     color: white;
}
.navbar ul li a{
     display: inline;
     color: white;
     text-decoration: none;
     justify-content: center;
}
.navbar ul li a:hover{
     color: blue;
     background-color: lightskyblue;
     border-radius: 15%;
     padding: 16px;
}
.box-main{
     height: 50vh;
     width: 100;
     background-image: url(Nature.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
.box-main .Firsthalf{
     color: white;
     position: relative;
     top: 35%;
     left: 20%;
}
.box-main .Secondhalf{
     position: relative;
     top: 15%;
     left: 60%;
}
.container{
     max-width: 1170px;
     margin: auto;
}
.row{
     display: flex;
     flex-wrap: wrap;
}
.footer ul{
     list-style: none;
}
.footer{
     background-color: #24262b;
     padding: 70px 0;
}
.footer-col{
     width: 25%;
     padding: 0 15px;
}
.footer-col h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     font-family: Calibri;
     position: relative;
}
.footer-col h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
}
.footer-col ul li:not(:last-child){
     margin-bottom: 10px;
}
.footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
}
.footer-col ul li a:hover{
     color: #ffffff;
     padding-left: 10px;
}
.footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255, 255, 255, 0.2);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
     color: #24262b;
     background-color: #ffffff;
}
/* reponsive */
@media(max-width: 767px){
     .footer-col{
          width: 50%;
          margin-bottom: 30px;
     }
}
@media(max-width: 574px){
     .footer-col{
          width: 100%;
     }
}